.article {
	background-color: hsl(0, 0%, 98%);
}
.article .container {
	flex-direction: column;
	gap: 65px;
}
.article h2 {
	color: hsl(233, 26%, 24%);
	font-size: 36px;
	font-weight: 400;
	width: 100%;
}
.article .articles.group {
	gap: 32px;
}
.article .artframe
{
	max-width: 255px;

}
.article .articles article {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	transition: 0.2s ease-out;
}
@media (max-width: 1024px) {
	/* .article .articles .artframe {
		max-width: 350px;
	} */
}
.article .articles .artframe:hover article {
	transform: translateY(-10px);
}
.article .articles article img {
	max-width: 100%;
	height: 200px;
}
.article .articles article .text {
	padding: 25px 20px;
	background-color: white;
	display: flex;
	flex-direction: column;
	gap: 12px;
}
.article .articles article .text .author {
	color: hsl(233, 8%, 62%);
	font-size: 12px;
}
.article .articles article .text .title {
	color: hsl(233, 26%, 24%);
	font-size: 18px;
	cursor: pointer;
	transition: 0.3s;
}
.article .articles article .text .title:hover {
	color: hsl(136, 64%, 51%);
}

.article .articles article .text .desc {
	color: hsl(233, 8%, 62%);
	font-size: 14px;
	-webkit-line-clamp: 4;
	line-clamp: 4;
	display: -webkit-box;
	overflow: hidden;
	-webkit-box-orient: vertical;
}
