.landing {
	background-image: url("../images/bg-intro-desktop.svg");
	background-color: hsl(0, 0%, 98%);
	background-repeat: no-repeat;
	background-position-x: 50vw;
	/* background-position-y: -5vh; */
	min-height: 700px;
}
.landing .container {
	z-index: -1;
	justify-content: space-between;
	align-items: center;
	min-height: 700px;
}
.landing .text {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 400px;
}
.landing h1 {
	color: hsl(233, 26%, 24%);
	font-weight: 400;
	font-size: 40px;
}
.landing p {
	color: hsl(233, 8%, 62%);
}
.landing .photoframe {
	width: 100%;
	height: 700px;
	max-width: 1440px;
	position: absolute;
	display: flex;
	justify-content: flex-end;
	left: 50%;
	transform: translateX(-50%);
}

.landing .photoframe .photo {
	overflow: hidden;
	position: absolute;
	height: 970px;
	width: 770px;
}
.landing .photoframe .photo img {
	position: absolute;
	transform: translateY(-150px) translateX(150px);
}
.landing .container .photo {
	display: none;
}
@media (min-width: 1441px) {
	.landing .photoframe .photo {
		overflow: visible;
	}
	.landing .photoframe .photo img {
		transform: translateY(-150px) translateX(0px);
	}
}
@media (max-width: 1200px) {
	.landing .photoframe .photo img {
		transform: translateY(-100px) translateX(460px);
	}
}
@media (max-width: 768px) {
	.landing .container {
		flex-direction: column;
	}
	.landing {
		background-image: url(../images/bg-intro-mobile.svg);
		background-position-x: 0;
		background-position-y: 0px;
		background-size: 100%;
	}
	.landing .photoframe {
		display: none;
	}

	.landing .text {
		align-items: center;
	}
	.landing .container .photo {
		display: block;
		position: relative;
		/* overflow: hidden; */
		height: 750px;
		width: 90%;
		max-width: 100%;
	}
	.landing .container .photo img {
		position: absolute;
		left: 0%;
		transform: translateY(0px);
		max-width: 100%;
	}
}
@media (max-width: 600px) {
	.landing .container .photo {
		height: 600px;
	}
}
@media (max-width: 500px) {
	.landing .container .photo {
		height: 550px;
	}
}
@media (max-width: 480px) {
	.landing .container .photo {
		height: 500px;
	}
}
@media (max-width: 430px) {
	.landing .container .photo {
		height: 400px;
	}
}
